.form {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #226160;
  border-radius: 8px;
  padding: 15px;
  width: 400px;
  margin-bottom: 20px;
  background: #226160;
  color: #ffffff;
}
.btnClose {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 0;
  height: 30px;
  width: 30px;
  color: #ffffff;
  border: solid 1px #ffffff;
  border-radius: 50px;
  transition: 0.4s;
}
.btnClose:hover {
  background-color: #ffffff;
  color: #56453e;
}

.formItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.formItemLabel {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 5px;
}
.field {
  height: 40px;
  border: 2px solid #226160;
  border-radius: 4px;
  padding-left: 8px;
  font-weight: 300;
  font-size: 18px;
}
.field:hover {
  border: 2px solid #a95f4d;
}
/* .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #56382d;
  margin: 0 auto;
  height: 40px;
  width: 150px;
  border: 1px solid #56382d;
  border-radius: 4px;
  color: #ffffff;
}
.btn:hover {
  background-color: #56382d86;
} */
.errorMessage {
  color: #92000a;
}

.btn,
.btn *,
.btn :after,
.btn :before,
.btn:after,
.btn:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #56382d;
  background-image: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 100%;
  font-weight: 500;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#56382d, #ffffff);
  padding: 0;
  text-transform: uppercase;
}
.btn:disabled {
  cursor: default;
}
.btn:-moz-focusring {
  outline: auto;
}
.btn svg {
  display: block;
  vertical-align: middle;
}
.btn [hidden] {
  display: none;
}
.btn {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
.btn span {
  font-weight: 400;
  mix-blend-mode: difference;
}
.btn:before {
  aspect-ratio: 1;
  background: #ffffff;
  border-radius: 50%;
  content: "";
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.4s;
  width: 0;
}
.btn:hover:before {
  width: 100%;
}
